<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
			scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py"
			resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="Static Files" stopProcessing="true">
					<match url="^static/.*" />
					<action type="None" />
				</rule>
				<rule name="Configure Flask App" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="app.py/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<appSettings>
		<add key="PYTHONPATH" value="E:\Domains\osleitepinto.net.br\wwwroot\python" />
		<add key="WSGI_HANDLER" value="app.app" />
		<add key="WSGI_LOG" value="D:\Domains\osleitepinto.net.br\wwwroot\python\wfastcgi.log" />
	</appSettings>
</configuration>