{% extends "base.html" %}

{% block nav_catalogue %}active{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalogue_styles.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal_styles.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tom-select.default.css')}}">
{% endblock %}

{% block content %}
<div class="dashboard-grid">
	
	<div class="actions-col">
		<div class="search-wrapper">
			<span class="search-icon" id="search-icon"></span>
			<input
				class="search-bar"
				type="text"
				id="catalogue-search-bar"
				placeholder="Pesquise uma cesta"
				oninput="handleSearch()"
			>
			<button type="button" class="search-clear" id="search-clear" title="Limpar pesquisa"></button>
		</div>
		<button class="btn-add" onclick="openNewBasketModal()">CADASTRAR NOVA CESTA</button>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="table-scroll">
				<table class="mini-table">
					<thead>
						<tr>
							{% for col in columns %}
							<th>
								{{col}}
							</th>
							{% endfor %}
							<th></th>
						</tr>
					</thead>
					<tbody id="catalogueTableBody">
						{% include 'catalogue/_catalogue_table_rows.html' %}
					</tbody>
				</table>
			</div>
			<div class="pagination">
				{% if page > 1 %}
					<a href="{{url_for('catalogue_bp.catalogue', page=page-1)}}">&laquo;</a>
				{% endif %}

				<span>{{page}} de {{total_pages}}</span>

				{% if page < total_pages %}
					<a href="{{url_for('catalogue_bp.catalogue', page=page+1)}}">&raquo;</a>
				{% endif %}
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block modals %}
{% include 'catalogue/_view_basket_modal.html' %}
{% include 'catalogue/_register_basket_modal.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/tom-select.complete.js')}}"></script>
<script src="{{url_for('static', filename='js/modal.js')}}"></script>
<script src="{{url_for('static', filename='js/catalogue_modal.js')}}"></script>
<script src="{{url_for('static', filename='js/catalogue.js')}}"></script>
{% endblock %}